[Unit]
Description=NAISys /data Integrity Guard Timer

[Timer]
OnBootSec=2min
OnUnitActiveSec=30min
Persistent=true
Unit=naisys-data-guard.service

[Install]
WantedBy=timers.target